.button_primary {
  background-color: var(--primary-font-color);
  color: var(--button-text-color);
  border-radius: 1px;
  text-align: center;

  border-radius: 1px;
  font-weight: var(--font-regular);
  text-transform: uppercase;
  cursor: pointer;
}
