.page {
  min-height: 80vh;
}

.content_wrapper {
  background-image: url("../../public/illustrations/confirmation-orchid.svg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: bottom 0 left -50px;
  background-origin: border-box;
  height: 50vh;
  margin-bottom: 10vh;
}

.text {
  margin: 1.5rem;
}

@media screen and (min-width: 450px) {
  .content_wrapper {
    background-position: bottom 0 left -30px;
    background-size: 100%;
    height: 75vw;
  }

  .text {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 650px) {
  .content_wrapper {
    background-position: bottom left;
    background-size: contain;
    height: 65vw;
  }
}

@media screen and (min-width: 850px) {
  .content_wrapper {
    background-position: bottom left;
    background-size: contain;
    height: 55vw;
  }
}

@media screen and (min-width: 1100px) {
  .content_wrapper {
    background-size: contain;
    height: 45vw;
  }
}

@media screen and (min-width: 1200px) {
  .content_wrapper {
    background-size: 60%;
    background-position: bottom 10vh left;
    height: 40vw;
  }
}
