.hidden {
  display: none;
}

.navbarWrapper {
  background-color: var(--pinkish-bg-color);
}

.background {
  background-color: var(--pinkish-bg-color);
  position: relative;
  z-index: -2;
  height: 22rem;
  margin-bottom: 5rem;
}

.Welcomeh2 {
  font-weight: var(--font-light);
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

.Welcomeh1 {
  font-family: var(--logo-font);
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.WelcomePic {
  width: 100%;
  height: auto;
  position: relative;
}

.WelcomePicWrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.WelcomePicBorder {
  position: relative;
  width: 12rem;
  /* z-index: -1; */
}

.WelcomePicBorder::before {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border: 3px solid var(--pinkish-border-color);
  content: "";
}

.FeatureWrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1.5rem;
}

.FeatureSectionWrap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.FeatureIcon {
  height: 4rem;
  width: auto;
}

.FeatureTitleText {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.FeatureTitle {
  font-weight: var(--font-reguar);
  font-size: 1rem;
  margin: 0;
}

.FeatureText {
  margin: 0;
  width: 50vw;
}

.IGsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IGtitle {
  font-weight: var(--font-light);
  font-size: 1.3rem;
  margin-top: 2rem;
}

.IGpic {
  width: 30vw;
  height: 30vw;
}

.IGpics {
  display: flex;
  margin-bottom: 2rem;
}

.IGpicHover {
  position: relative;
  height: 30vw;
}

.IGpicHoverBox {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  opacity: 0;
  background: linear-gradient(to bottom, transparent -8%, #fbe6dc 100%);
  transition: opacity 0.3s ease;
}

.IGpicHover:hover .IGpicHoverBox {
  opacity: 1;
}

.InsideHoverBoxWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 5rem;
}

.ClockTextWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/* .IGpicHover::before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 0%, #f0cdbc 100%);
}

.IGpicHover:hover:before {
  height: 100%;
} */

@media screen and (min-width: 398px) {
  .WelcomePicBorder {
    width: 13rem;
  }

  .background {
    height: 23rem;
  }
}

@media screen and (min-width: 500px) {
  .OrchidDrawing {
    display: block;
    width: 8rem;
    right: 0;
    top: 800px;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .AllWelcomeWrap {
    display: flex;
    justify-content: space-between;
  }

  .WelcomeWrap {
    padding-left: 3rem;
    padding-top: 3rem;
    padding-right: 1rem;
  }

  .Welcomeh1 {
    font-size: 3rem;
  }

  .Welcomeh2 {
    font-size: 2rem;
  }

  .background {
    height: 22rem;
    margin-bottom: 8rem;
  }

  .WelcomePicWrap {
    padding-top: 7rem;
  }

  .WelcomePicBorder {
    width: 30vw;
  }

  .FeatureWrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding-left: 0;
  }

  .FeatureTitle {
    font-size: 1.3rem;
  }

  .FeatureText {
    width: 35vw;
  }

  .OrchidDrawing {
    width: 8rem;
  }

  .IGtitle {
    font-size: 1.8rem;
    margin-top: 5rem;
  }

  .IGpics {
    gap: 2rem;
  }

  .IGpic {
    width: 20vw;
    height: 20vw;
  }

  .IGpicHover {
    height: 20vw;
  }
}

@media screen and (min-width: 900px) {
  .WelcomeWrap {
    padding-left: 7rem;
  }
}

@media screen and (min-width: 1100px) {
  .Welcomeh1 {
    font-size: 4rem;
  }

  .Welcomeh2 {
    font-size: 2.5rem;
  }

  .WelcomeWrap {
    padding-top: 6rem;
    padding-left: 8rem;
  }

  .background {
    height: 28rem;
    margin-bottom: 6rem;
  }

  .WelcomePicBorder::before {
    top: -20px;
    left: -20px;
  }

  .FeatureWrap {
    justify-content: space-evenly;
    gap: 0;
  }

  .FeatureSectionWrap {
    gap: 1rem;
  }

  .FeatureIcon {
    height: 6rem;
    width: auto;
  }

  .FeatureTitle {
    font-size: 1.5rem;
  }

  .FeatureText {
    width: 22vw;
  }

  .OrchidDrawing {
    width: 10rem;
  }

  .IGpics {
    gap: 3rem;
  }

  .IGpic {
    width: 15vw;
    height: 15vw;
  }

  .IGpicHover {
    height: 15vw;
  }

  .IGicon {
    width: 3rem;
    height: auto;
  }

  .ClockIcon {
    height: 1rem;
    width: auto;
  }
}

@media screen and (min-width: 1300px) {
  .background {
    margin-bottom: 12rem;
  }

  .Welcomeh1 {
    font-size: 5rem;
  }

  .Welcomeh2 {
    font-size: 3rem;
  }

  .OrchidDrawing {
    top: 950px;
    width: 12rem;
  }
}

@media screen and (min-width: 1600px) {
  .WelcomeWrap {
    padding-top: 7rem;
    padding-left: 14rem;
  }
  .background {
    height: 37rem;
    margin-bottom: 9rem;
  }
}
