.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
}

/* link back to the info form
  ---------------------------*/
.backlink {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin-left: 1rem;
}

.link {
  font-size: 13px;
  text-decoration: none;
  color: var(--primary-font-color);
  cursor: pointer;
}

.link > img {
  max-width: 0.5rem;
  margin-right: 0.4rem;
}

/* page heading
  ------------*/
.heading {
  composes: heading from "./utils.css";
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

/* nav scheme
  -----------*/
.nav_scheme {
  display: flex;
  margin: 1rem 0 2rem 0;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  justify-content: center;
}

/* payment method switch
------------------------*/
.method {
  font-size: 15px;
  font-weight: 400;
  margin-left: 1rem;
}

.icon {
  border-radius: 1px;
  border-radius: 1px;
  padding: 0.4rem;
  margin: 0 1rem;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  width: calc(5rem + 6vw);
  height: calc(2rem + 2vw);
}

.chosen {
  composes: icon;
  background-color: var(--primary-font-color);
  border: 1px solid var(--primary-font-color);
  transition: all 0.3s;
}

.chosen img {
  filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(61deg) brightness(112%)
    contrast(100%);
  height: 100%;
  width: 95%;
  transition: all 0.3s;
}

.ignored {
  composes: icon;
  background-color: transparent;
  border: 1px solid var(--primary-font-color);
  transition: all 0.3s;
}

.ignored img {
  filter: invert(29%) sepia(8%) saturate(6664%) hue-rotate(343deg)
    brightness(90%) contrast(82%);
  height: 100%;
  width: 95%;
  transition: all 0.3s;
}

/* media queries
---------------*/
@media screen and (min-width: 415px) {
  .method {
    font-size: 17px;
  }
}

@media screen and (min-width: 520px) {
  .method {
    font-size: calc(1.2rem + 0.3vw);
  }
}

@media screen and (min-width: 1100px) {
  .method,
  .links {
    margin-left: 10rem;
  }

  .icon:first-child {
    margin-left: 0;
  }
}
