.section {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  margin: 1rem 0;
}

/* products section 
------------------- */
.products {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
}

.products_img_wrapper {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products_img {
  max-width: 100%;
  width: 50%;
  margin-bottom: 1rem;
}

.products_text {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

/* procedures section 
------------------- */
.procedures {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.line:nth-child(odd) {
  background-color: var(--pinkish-bg-color);
}

.price {
  margin-left: 1rem;
}

.book {
  margin: 2rem 0;
}

.book_btn {
  composes: button_primary from "./Buttons.module.css";
  padding: 0.7rem;
  text-decoration: none;
}

/* image gallery section 
---------------------- */
.gallery {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.gallery_img {
  max-width: 100%;
  width: 30%;
}

/* media queries 
---------------- */
@media screen and (min-width: 768px) {
  .products {
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: max-content;
    gap: 1rem;
    align-items: center;
    margin: 2rem;
  }

  .products_text {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .products_img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
  }

  .line {
    padding: 0.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .section {
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: min-content min-content;
    column-gap: 4rem;
    margin-bottom: 4rem;
  }

  .products {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin-left: 0;
    margin-right: 0;
  }

  .procedures {
    margin: 0;
  }

  .gallery {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    flex-direction: column;
    gap: 1rem;
  }

  .gallery_img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }

  .book {
    margin: 3rem 0;
  }

  .book_btn {
    padding: 1rem;
  }
}
