.link {
  color: var(--primary-font-color);
  text-decoration: none;
  padding-bottom: 1px;
  background: linear-gradient(
      var(--primary-font-color),
      var(--primary-font-color)
    )
    center bottom;
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.underline {
  background-size: 100% 1px;
}
